.Footer{
    background: #054C73;
    margin-bottom: 5px;
    height: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.Footer__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1070px;
    margin: 0 auto;
    padding-top: 20px;
    .list__item{
        color:  #FFF;
     font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
}
.footer__connect__list{
    margin-top: 15px;
    margin-left: 200px;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer__connect__item{
        i{
            color: #7562E0;
            width: 32px;
        height: 32px;
        }
       
    }
}